@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;900&display=swap'); */

body{
  background-color: whitesmoke;
  font-family: 'Sansita Swashed', cursive;

}
.container{
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 35px 50px 50px 50px#aaaaaa;
  border: 4px solid #493131;
  padding: 15px 50px;
}
.text-center{
  text-align: center;
}

.expanse-container{
  display: flex;
  justify-content: space-around;
  background-color: white;

}
.transaction-form  input{
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  background-color: #ffff;
}

.transaction-form  Button{
  font-family: 'Sansita Swashed', cursive;
  font-weight: bold;
  font-size: 22px;
  width: 100%;
  margin: 10px 0;
  padding: 5px;
}


.transaction-list{
   margin: 0;
   list-style: none;
   padding: 0;
}
.transaction-list >li{
  display: flex;
  justify-content: space-between;
  padding:  10px 5px;
  background-color: white;
  margin: 5px 0;
} 