body{
  background-color: black !important;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  background-color: #999999;
  box-shadow: 100 200 10px grey;
  margin-top: 50px;
  padding: 15px 50px;
}
.text-center{
  text-align: center;
}

.expanse-container{
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px gray;

}
.transaction-form  input{
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  background-color: #454545;

}
.transaction-list{
   margin: 0;
   list-style: none;
   padding: 0;
}
.transaction-list >li{
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px gray;
  padding:  10px 5px;
  background-color: white;
  margin: 5px 0;


} 